body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  border: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}

.post {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 600px;
  margin: 20px;
}

.post>img {
  max-width: 150px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
  margin-right: 10px;
}

.post--content {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: auto;
}

.post--content>p{
  padding-right: 10px;
  letter-spacing: 2px;
}

.post--content>img {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}

.post--layout{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.post--layout>h2, .post--layout>h3, .post--layout>p {
  padding-bottom: 0px;
  margin: 0px;
}

.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #a3a3a3f6;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px;
}

